* {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	margin: 0;
}

body {
	overflow-x: hidden;
	max-width: 100vw;
}

nav {
	z-index: 5;
}

.headertext {
	font-family: 'DM Sans', sans-serif;
	font-weight: bold;
}

.bgcolordark {
	background-color: #1B1B32;
}

.bgcolortwo {
	background-color: #2A2A40;
}

.navlink-hover:hover {
	background-color: white;
	color: #2A2A40 !important;
}

.profile-img {
	border: 0.8rem solid lightgray;
}

#aboutme {

	background: 

	linear-gradient(
		rgba(0, 0, 0, 0.6),
		rgba(0, 0, 0, 0.6)
	),

	url("./images/bg-space.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	max-height: 100vh;
	max-width: 100vw;
	height: 100vh;
	width: 100vw;
}

.icon {
	font-size: 29px;
}

#modal-button {
	width: 18rem;
}

.bgdarker {
	background-color: rgba(0,0,0,0.6);
}

.bglighter {
	background-color: rgba(255,255,255,0.6);
}

.laptop {
		position: relative;
  	width: 240px;
  	height: 150px;
  	margin: 0 auto;
}

.laptop-screen {
  	width: 97%;
  	height: 90%;
  	position: relative;
  	background-color: black;
  	border-radius: 15px;
	box-shadow: 10px 12px rgba(0,0,0,0.3);
}

.laptop-screen img {
  	width: 96%;
  	height: 90%;
  	border-radius: 10px;
  	margin-top: 8px;
}

.laptop-bottom {
  	border: 6px solid grey;
  	width: 99%;
  	height: 2px;
  	position: relative;
  	right: 4px;
  	background-color: grey;
  	border-radius: 0 0 10px 10px;
  	box-shadow: 10px 5px rgba(0,0,0,0.3);
  	z-index: 2;
}

#bottom-opener {
  width: 20%;
  height: 4px;
  background-color: lightgrey;
  border-radius: 0 0 10px 10px;
  position: relative;
  top: -11px;
  margin: 0 auto;
  z-index: 2;
}

.phone {
  	width: 70px;
  	height: 150px;
  	background-color: black;
  	z-index: 3;
  	position: absolute;
  	top: 11%;
  	left: 70%;
  	border-radius: 10px;
  	box-shadow: 5px 10px rgba(0,0,0,0.3);
}

.phone-screen {
  	width: 95%;
  	height: 95%;
  	background-color: black;
	border-radius: 10px;
	position: relative;
  	top: 3px;
  	left: 2.4px;
}

#phonecam {
  	width: 30%;
  	height: 10px;
  	display: block;
  	background-color: black;
  	border-radius: 0 0 5px 5px;
  	position: absolute;
  	left: 36%;
  	z-index: 3;
}

.phone-screen img {
	height: 100%;
  	border-radius: 7px;
  	z-index: 2;
}

footer {
	position: relative;
	bottom: 0;
}

#footer-links:hover {
	color: white !important;
}

#top-button {
	width: 4rem;
	height: 4rem;
	position: fixed;
	bottom: 2rem;
	z-index: 5;
	left: 90%;
}

.project-icon {
	width: 50px;
	height: 50px;
	position: absolute;
	bottom: -1rem;
	left: -2rem;
	z-index: 4;
}

.project-icon2 {
	width: 50px;
	height: 50px;
	position: absolute;
	bottom: -1rem;
	left: 0rem;
	z-index: 3;
}

.project-icon:hover, .project-icon2:hover {
	scale: 1.2;
	z-index: 5;
} 

/*==================== Media Qeries =======================*/

@media (max-width: 390px) {
	.shrink {
		scale: 0.7;
	}
}

@media (max-width: 420px) {
	.phone {
  		top: 9%;
  		left: 80%;
	}
}

@media (max-width: 820px) {
	#top-button {
		left: 80%;
	}
}
		